---
import Welcome from '../components/Welcome.astro';
import "../styles/global.css";
import Header from '../components/header/header.astro';
import SectionHero from '../components/home/sectionHero.astro';
import ProductsGrid from '../components/home/productsGrid.astro';
import SectionScience from '../components/home/sectionScience.astro';
import SectionLocation from '../components/home/sectionLocation.astro';
import '../styles/fonts.css';

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title >Iron Suplements</title>
</head>
<header>
	<Header />
</header>
<body>
	<SectionHero />
	<ProductsGrid />
	<SectionScience />
	<SectionLocation />
</body>
</html>