---
import Map from '../../components/Location/map.astro'
---

<section class="py-sections-xxs">
    <div class="">

<Map lat={19.604105138604858} lng={-99.22363568834344} zoom={20} />
</div>
</section>
